<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<app-menu></app-menu>
<div class="loading-indicator" *ngIf="progressSpinnerDlg">
  <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
</div>
<div class="layout-content-wrapper">
  <div class="layout-wrapper layout-slim">
    <p-card class="flex-1">
      <xng-breadcrumb [separator]="iconTemplate">
        <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
          <i class="{{ info }}"></i>
          <i class="pi pi-angle-right"></i>
          <ng-container>{{ breadcrumb }}</ng-container>
        </ng-container>

        <ng-template #iconTemplate>
          <i class="pi pi-angle-right"></i>
        </ng-template>
      </xng-breadcrumb>
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary"
            (click)="createForm()"></button>
        </ng-template>
      </p-toolbar>
      <p-table #dt [responsiveLayout]="responsiveLayout" [value]="appointmentTypes" [rows]="10"
        [paginator]="paginatorValue" [rowsPerPageOptions]="rowsPerPage"
        [globalFilterFields]="['name', 'status', 'description']" dataKey="id"
        [currentPageReportTemplate]="templateValue" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <input pInputText type="text" [(ngModel)]="busqueda" placeholder="Búsqueda" />
            <button pButton label="Buscar" icon="pi pi-search" class="p-button"
              (click)="dt.filterGlobal(busqueda, 'contains')"></button>
            <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(dt)"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              Consecutivo<p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Denominación<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Descripción<p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="color">
              Color<p-sortIcon field="color"></p-sortIcon>
            </th>

            <th pSortableColumn="duration">Duración en minutos<p-sortIcon field="duration"></p-sortIcon>
            </th>
            <th>¿Activo?</th>
            <th pSortableColumn="dateInsert">Fecha creación<p-sortIcon field="dateInsert"></p-sortIcon></th>
            <th  pSortableColumn="dateEdit">Última fecha actualización<p-sortIcon field="dateEdit"></p-sortIcon>
            </th>
            <th>Opciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointmentType>
          <tr>
            <td>{{ appointmentType.id }}</td>
            <td>{{ appointmentType.name }}</td>
            <td>{{ appointmentType.description }}</td>
            <td>
              <input type="color" [value]="appointmentType.color" disabled />
            </td>
            <td>{{ appointmentType.durationMins }}</td>
            <td>
              <button *ngIf="appointmentType.status" pButton pRipple type="button" icon="pi pi-check"
                class="p-button-rounded p-button-outlined"></button>
              <button *ngIf="!appointmentType.status" pButton pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-danger p-button-outlined"></button>

            </td>
            <td>{{ appointmentType.dateInsert }}</td>
            <td>{{ appointmentType.dateAlter }}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editForm(appointmentType)" pTooltip="Editar" tooltipPosition="bottom"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                (click)="confirm($event, appointmentType)" pTooltip="Eliminar" tooltipPosition="bottom"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total hay
            {{ appointmentTypes ? appointmentTypes.length : 0 }} Tipos de cita.
          </div>
        </ng-template>
      </p-table>
    </p-card>
    <p-dialog [(visible)]="appointmentTypeDialog" header="Tipo de cita" [modal]="true">
      <p-card [formGroup]="formAppointmentType" id="form">
        <ng-template pTemplate="content">
          <div class="flex flex-row">
            <div class="flex flex-column">
              <div class="p-fluid">
                <div class="p-field">
                  <h5>Nombre</h5>
                  <input formControlName="name" type="text" pInputText id="name" required />
                </div>

                <small class="ng-invalid ng-dirty" *ngIf="
                    formAppointmentType.controls['name'].hasError(
                      'maxlength'
                    ) && formAppointmentType.controls['name']?.touched
                  ">El nombre excede el número de caracteres
                  permitido(100)</small>
                <small class="ng-invalid ng-dirty" *ngIf="
                    formAppointmentType.controls['name'].hasError(
                      'required'
                    ) && formAppointmentType.controls['name']?.touched
                  ">El nombre es requerido</small>
                <small class="ng-invalid ng-dirty" *ngIf="
                    formAppointmentType.controls['name'].hasError(
                      'minlength'
                    ) && formAppointmentType.controls['name']?.touched
                  ">El mínimo de caracteres permitidos es tres</small>
                <div class="p-field">
                  <h5>Descripción</h5>
                  <textarea formControlName="description" pInputTextarea id="description"></textarea>
                </div>


                <small class="ng-invalid ng-dirty" *ngIf="
                    formAppointmentType.controls['description'].hasError('maxlength') &&
                    formAppointmentType.controls['description']?.touched
                  ">La descripción excede el número de caracteres permitido(250)</small>


                <div class="p-field">
                  <h5>Color</h5>
                  <p-colorPicker formControlName="color"></p-colorPicker>
                </div>
                <div class="p-field">
                  <h5>Duración en minutos</h5>
                  <p-inputNumber formControlName="durationMins" [showButtons]="true" buttonLayout="horizontal"
                    inputId="horizontal" spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-warning"
                    incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" [min]="0"
                    decrementButtonIcon="pi pi-minus">
                  </p-inputNumber>
                </div>
                <small class="ng-invalid ng-dirty" *ngIf="
              formAppointmentType.controls['durationMins'].hasError('minlength') &&
              formAppointmentType.controls['durationMins']?.touched
            ">La duración en minutos en requerida</small>
                <div class="p-field" *ngIf="isEditing">
                  <h5>Estado</h5>
                  <p-inputSwitch class="p-button-warning" formControlName="status"></p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="flex flex-column">
            <div class="flex flex-row justify-content-between">
              <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-warning"
                (click)="hideDialog()"></button>
              <button pButton pRipple id="submit" label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="submitAppointmentType()"></button>
            </div>
          </div>
          <div class="loading-indicator" *ngIf="progressSpinnerDlg">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </ng-template>
      </p-card>
    </p-dialog>
  </div>
</div>