

.cardhome {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #ffffff;
  margin-bottom: 16px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  padding: 0 !important;
  background: #ffffff;
  padding: 1.5rem 1rem;
  margin-bottom: 16px;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 10%), 0px 24px 36px rgb(0 0 0 / 4%);
  border-radius: 14px;
}

.layout-topbar-right {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: end;
}

.layout-topbar .layout-topbar-right .layout-topbar-actions li.profile-item {
  background: rgba(220, 230, 237, 0.1);
  border: 2px solid #829ab1;
  border-top-color: rgb(130, 154, 177);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgb(130, 154, 177);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(130, 154, 177);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(130, 154, 177);
  border-left-style: solid;
  border-left-width: 2px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
}

@media (max-width: 978px) {
  .logo {
    margin-left: 5px;
    top: -10px;
    left: 32px;
    width: 180px;
    height: 68px;
    background: #fff url(../../assets/images/logoSaludtools.png) no-repeat;
    background-size: contain;
    background-position: center;
    object-fit: cover;
    background-size: cover;
  }
  p-menubar {
    width: auto;
  }

  .layout-sidebar {
    display: none;
  }

  .layout-content-wrapper {
    margin-left: 0rem;
    width: 100%;
  }
}
@media (max-width: 978px) {
  a.navbar-brand {
    display: block;
    color: #ffffff;
    padding: 1rem -1rem;
    position: absolute;
    font-size: initial;
  }
}
@media (min-width: 978px) {
  a.navbar-brand {
    display: none;
  }
}
