<div class="content-section implementation">
  <p-menubar class="menus">
    <ng-template pTemplate="start">
    
   
    </ng-template>
    <ng-template pTemplate="end">
      <button
        type="button"
        routerLink=""
        pButton
        icon="pi pi-home"
        style="margin-left: 0.25em"
        pTooltip="Inicio"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        label="Cerrar Sesión"
        icon="pi pi-sign-out"
        pTooltip="Salir"
        (click)="logout()"
        tooltipPosition="bottom"
        style="margin-left: 0.25em"
      ></button>
    </ng-template>
  </p-menubar>
  <div class="flex-1">
    <p-menubar class="menusmall" [model]="items" hidden>
      <ng-template pTemplate="start">
        
      </ng-template>
      <ng-template pTemplate="end">
        <button
          type="button"
          pButton
          icon="pi pi-home"
          pTooltip="Inicio"
          tooltipPosition="bottom"
          style="margin-left: 0.25em"
        ></button>
        <button
          type="button"
          pButton
          label=""
          (click)="logout()"
          icon="pi pi-sign-out"
          pTooltip="Salir"
          tooltipPosition="bottom"
          style="margin-left: 0.25em"
        ></button>
      </ng-template>
    </p-menubar>
  </div>
  <div class="layout-sidebar">
    <div class="card">
      <p-panelMenu [model]="items"></p-panelMenu>
      <p-tieredMenu
        #menu
        appendTo="body"
        [model]="items"
        [popup]="true"
      ></p-tieredMenu>
    </div>
  </div>
</div>
